body {
    margin: 0px;
    padding: 0px;
    background-color: #EE131A;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    width: 224px;
}

.footer {
    width: 90%;
}